/** Custom properties **/
:root{
    --color-primario : #1F87C4;
}

body{
    background-image: url(../img/cielo.jpg);
}

.btn{
    background-color: var(--color-primario);
}
.btn:hover{
    background-color: rgb(18, 55, 110);
}

.site-header h1{
    background-color: var(--color-primario);
}
.contenido-sidebar h3{
    color: var(--color-primario);
}
.accordion-header{
    background-color: var(--color-primario) !important;
    color: #ffffff !important;
}